<b>Hello {{ username }}!</b>

{{ emoji.gear }} <i>I'm an Ai ChatBot. I'm in Charge Of @Rokubotz Selling their Bot Repos.

I am also in charge of managing bot subscription plan bought from @Rokubotz

I may reply late, cause more many people are using me at once</i>
